#background {
    -fx-background-color: #042E3D#33A1FD;
}

#logo {
    -fx-text-fill: white;
}

#login {
    -fx-background-color: #F76425;
    -fx-border: none;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

#login:hover {
    -fx-background-color: #F77238;
}

#signUp {
    -fx-background-color: #33A1FD;
    -fx-border: none;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

#signUp:hover {
    -fx-background-color: #50AFFC;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

#userName {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}
#userName:focused {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #64F9FB;
}

#password {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4ecdc4;
}
#password:focused {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #64F9FB;
}


#userName.text-input {
    -fx-text-fill: #33A1FD;
}

#password.text-input {
    -fx-text-fill: #F76425;
}