#body{
    -fx-background-color: linear-gradient(to bottom left,rgba(78, 205, 196, 0.29), rgba(216, 47, 143, 0.41));

}

#middleBody{
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-background-color: rgba(250, 250, 250, 0.5);
    -fx-background-radius: 10px;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#bottomBody{
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-background-color: rgba(250, 250, 250, 0.9);
    -fx-background-radius: 10px;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#title{
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

#header{
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-border-width: 2PX;
    -fx-border-color: white;
    -fx-font-family: Georgia;
    -fx-font-size: 15px;
}

#headerAdminHome{
    -fx-background-radius:  13px 13px 0px 0px;
    -fx-border-width: 2PX;
    -fx-border-radius: 12px 12px 0px 0px;
    -fx-font-family: Georgia;
    -fx-font-size: 15px;
}

#adminMiddleBody{
    -fx-border-color: rgba(0, 0, 0, 0.9);
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-background-color: rgba(74, 212, 216, 0.3);
    -fx-background-radius:  13px 13px 0px 0px;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

#titleadmin{
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-background-color: blue;
}

#wrongLabel{
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-background-color: black;
    -fx-alignment: center;
}



/* BUTTONS */
.button{
    -fx-background-color: rgba(74, 212, 216, 0.45);

    -fx-border: none;
    -fx-color: rgb(171, 171, 171);
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-border-width: 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.6);
    -fx-text-fill: rgba(0,0,0,0.6);
}

.button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-text-fill: rgba(255,255,255,0.9);

}

#adminButton{
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-text-fill: rgba(255,255,255,0.9);
    -fx-border: none;
    -fx-color: rgb(171, 171, 171);
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-border-width: 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.6);
}

#adminButton:hover{
    -fx-background-color: rgba(74, 212, 216, 0.45);

}

#empButton{
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: rgba(255,255,255,0.9);
    -fx-border: none;
    -fx-color: rgb(171, 171, 171);
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-border-width: 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(0,0,0,0.6);
}

#empButton:hover{
    -fx-background-color: rgba(64, 166, 170, 0.7);

}

.text-field {
    -fx-background-color: none;
    -fx-border-width: 1px;
    -fx-border-color: rgba(120, 120, 120, 0.6);
    -fx-prompt-text-fill: rgba(120, 120, 120, 0.94);
    -fx-stroke-width:0px 0px 1px 0px;
    -fx-background-color: rgba(255, 255, 255, 0.8);

}

.text-field:focused {
    -fx-background-color: none;
    -fx-border-color: rgba(74, 212, 216, 0.6);
    -fx-border-width: 2px;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.94);
    -fx-background-color: rgba(0, 0, 0, 0.35);
    -fx-text-fill: rgba(255,255,255,0.9);

}

.text-input{
    -fx-text-fill: rgba(0,0,0, 0.9);

}

.table-view{
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-text-fill: gray;
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.label{
    -fx-text-fill: rgba(0,0,0,0.9);
}
