#signUpBackground {
    -fx-background-color: #2F4858;
}

#signUpTitle {
    -fx-fill: white;
}

#firstTextField {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}

#lastTextField {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}

#emailTextField {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}

#confirmEmailTextField {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}

#passwordTextField {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}

#confirmPasswordTextField {
    -fx-background-color: none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #4EDDC4;
}

#submitButton {
    -fx-background-color: #F76425;
    -fx-border: none;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

#submitButton:hover {
    -fx-background-color: #F77238;
}

#returnButton:hover {
    -fx-background-color: #FDCA60;
}

#returnButton {
    -fx-background-color: #FDCA40;
    -fx-border: none;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

#firstTextField.text-input {
    -fx-text-fill: white;
}

#lastTextField.text-input {
    -fx-text-fill: white;
}

#emailTextField.text-input {
    -fx-text-fill: white;
}

#confirmEmailTextField.text-input {
    -fx-text-fill: white;
}

#passwordTextField.text-input {
    -fx-text-fill: white;
}

#confirmPasswordTextField.text-input {
    -fx-text-fill: white;
}
